html, body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Li Ador Noirrit', sans-serif;
}

p {
    color: #005376;
    font-size: 25px;
    text-align: center;
  }

ul {
    font-size: 25px;
    color: #005376;
}

/*==================================
  Banner Start
  ==================================*/
  .banner img{
    width: 100%;
    height: auto;
}
/*==================================
  Content Start
  ==================================*/
/*----- 
Part-1 Start 
---------------------------*/
.part-1{
    padding: 50px;
}

/*Level-1 Start*/
.part-1 .level-1{
    margin-bottom: 30px;
}
.part-1 .level-1 .box{
    width: 90%;
    margin: auto;
    text-align: justify;
    border-radius: 5px;
    padding: 25px;
    background-color: #dcf4ff;
    color: black;
}

/*Level-2 Start*/
.part-1 .level-2{
    margin-bottom: 30px;
}
.part-1 .level-2 .box{
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 25px;
    background-color: #D7D7D7;
}
.part-1 .level-2 .box ul li{
    padding-bottom: 3px;
}

/*Level-3 Start*/
.part-1 .level-3{
    margin-bottom: 30px;
}
.part-1 .level-3 .box{
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 25px;
    background-color: #dcf4ff;
    color: black;
}
.part-1 .level-3 .box ul li{
    padding-bottom: 3px;
}

/*Level-4 Start*/
.part-1 .level-4{
    margin-bottom: 30px;
}
.part-1 .level-4 .box{
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 25px;
    background-color: #D7D7D7;
    color: black;
}
.part-1 .level-4 .box h5{
    color: #0B1859;
    line-height: 2px;
    font-weight: bold;
}
.part-1 .level-4 .box p{
    text-align: justify;
}

/*Heading Underline*/
.part-1 .underline .underline1{
    margin: auto;
    width: 30%;
    border-width: 2px;
    border-style: solid;
    border-color: #2B4592;

}
.part-1 .underline .underline2{
    margin: auto;
    margin-top: 2px;
    margin-bottom: 20px;
    width: 25%;
    border-width: 2px;
    border-style: solid;
    border-color: #2B4592;
}
/**********************************
 Part-1 Responsive CSS 
***********************************/
@media only screen and (max-width: 768px) {
    .part-1{
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 10%;
        padding-left: 5%;
    }
    .part-1 .underline .underline1{
        margin: auto;
        width: 60%;
        border-width: 1px;
    }
    .part-1 .underline .underline2{
        margin: auto;
        margin-top: 2px;
        margin-bottom: 20px;
        width: 45%;
        border-width: 1px;
    }

    /*-- level-1 Start --*/
    .part-1 .level-1 .box{
        width: 100%;
    }

    /*-- level-2 Start --*/
    .part-1 .level-2 .box{
        width: 100%;
    }

    /*-- level-3 Start --*/
    .part-1 .level-3 .box{
        width: 100%;
    }

    /*-- level-4 Start --*/
    .part-1 .level-4 .box{
        width: 100%;
    }
}
@media only screen and (max-width: 440px) {
    .part-1{
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 10%;
        padding-left: 5%;
    }
    .part-1 .underline .underline1{
        margin: auto;
        width: 60%;
        border-width: 1px;
    }
    .part-1 .underline .underline2{
        margin: auto;
        margin-top: 2px;
        margin-bottom: 20px;
        width: 45%;
        border-width: 1px;
    }

    /*-- level-1 Start --*/
    .part-1 .level-1 .box{
        width: 100%;
    }

    /*-- level-2 Start --*/
    .part-1 .level-2 .box{
        width: 100%;
    }

    /*-- level-3 Start --*/
    .part-1 .level-3 .box{
        width: 100%;
    }
    /*-- level-4 Start --*/
    .part-1 .level-4 .box{
        width: 100%;
    }
}
/*----- 
Part-1 End 
---------------------------*/


/*----- 
Part-2 Start 
---------------------------*/
.part-2 .heading{
    width: 100%;
    background-color: #3FA3F1;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
}
.part-2 .heading h4{
    margin: 0 auto;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    text-shadow: 1.236068px 3.804226px 3px rgb(12 12 12 / 70%);
    font-size: 50px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: white;
}
.part-2 .level{
    padding: 50px;
}

/*Level-1 Start*/
.part-2 .level .level-1 .box{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    padding: 25px;
    background-color: #2471AD;
    color: black;
}
.part-2 .level .level-1 .box .content{
    text-align: center;
    margin-top: -80px;
}
.part-2 .level .level-1 .box .content i{
    background-color: #45D2EC;
    color: white;
    font-size: 90px;
    padding: 20px 35px 20px 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.part-2 .level .level-1 .box .content i:hover{
    color: #45D2EC;
    background-color: white;
    transition: .7s ease;
}
.part-2 .level .level-1 .box .content p{
    margin-top: 20px;
    margin-bottom: 40px;
}

/*Level-2 Start*/
.part-2 .level .level-2 .box{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}
.part-2 .level .level-2 .box .card{
    margin-top: 10px;
    background-color: #45D2EC;
    border-color: #45D2EC;
}
.part-2 .level .level-2 .box .card i{
    padding-left: 10px;
}
.part-2 .level .level-2 .box .card:hover{
    background-color: white;
    transition: .7s ease;
}
.part-2 .level .level-2 .box .card:hover i{
    color: #45D2EC;
}
.part-2 .level .level-2 .box .card-body{
    display: flex;
}
.part-2 .level .level-2 .box .card-body i{
    font-size: 70px;
}
.part-2 .level .level-2 .box .card-body p{
    margin-top: 35px;
    margin-left: 18px;
}

/*Level-3 Start*/

.part-2 .level .level-3 .box{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}
.part-2 .level .level-3 .box .card{
    margin-top: 10px;
    background-color: white;
    border-color: #2471AD;
    border-width: 3px;
    border-radius: 7px;
}

/*Level-4 Start*/

.part-2 .level .level-4 .box{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    padding: 25px;
    background-color: #2471AD;
    color: black;
}
.part-2 .level .level-4 .box .content{
    text-align: center;
    margin-top: -80px;
}
.part-2 .level .level-4 .box .content i{
    background-color: #45D2EC;
    color: white;
    font-size: 90px;
    padding: 20px 35px 20px 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.part-2 .level .level-4 .box .content i:hover{
    color: #45D2EC;
    background-color: white;
    transition: .7s ease;
}
.part-2 .level .level-4 .box .content p{
    margin-top: 20px;
    margin-bottom: 40px;
}

/*Level-5 Start*/
.part-2 .level .level-5 .box{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    padding: 25px;
    background-color: #2471AD;
    color: black;
}
.part-2 .level .level-5 .box .content{
    text-align: center;
    margin-top: -80px;
}
.part-2 .level .level-5 .box .content i{
    background-color: #45D2EC;
    color: white;
    font-size: 90px;
    padding: 20px 35px 20px 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.part-2 .level .level-5 .box .content i:hover{
    color: #45D2EC;
    background-color: white;
    transition: .7s ease;
}
.part-2 .level .level-5 .box .content p{
    margin-top: 20px;
    margin-bottom: 40px;
}

/*Level-6 Start*/
.part-2 .level .level-6 .box{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 25px;
    background-color: #C6F6FF;
    color: black;
}
.part-2 .level .level-6 .box img{
    height: 350px;
    width: 270px;
}
.part-2 .level .level-6 .box ul li{
    padding-bottom: 3px;
}
.part-2 .level .level-6 .box ul{
    text-align: justify;
}

/*Level-7 Start*/
.part-2 .level .level-7 .box{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 25px;
    background-color: #D7D7D7;
    color: black;
}
.part-2 .level .level-7 .box img{
    height: 260px;
    width: 220px;
    border-radius: 35px 0px 35px 0px;
}
.part-2 .level .level-7 .box h5{
    margin-top: 5px;
}
/*Level-8 Start*/
.part-2 .level .level-8 .box{
    width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 25px;
    background-color: #45D2EC;
    color: black;
    border-radius: 90px 0px 90px 0px;
    box-shadow: 0px 7px 7px #2471AD;
}
.part-2 .level .level-8 .box p{
    text-align: justify;
    text-align: center;
    line-height: 16px;
}
.part-2 .level .level-8 .box h6{
    text-align: center;
}
.part-2 .level .level-8 button{
    width: 30%;
    margin: auto;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #288ecb;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 2rem;
}
.part-2 .level .level-8 button:hover{
    text-decoration: underline;
}

/*Level-9 Start*/
.part-2 .level .level-9 .box{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 25px;
    background-color: #C6F6FF;
    color: black;
}
.part-2 .level .level-9 .box img{
    height: 260px;
    width: 220px;
    border-radius: 20px;
}
.part-2 .level .level-9 .box h5{
    margin-top: 5px;
}
.part-2 .level .level-9 .box p{
    text-align: justify;
}

/*Graduated Alumni Start*/
.part-2 .level .graduated-alumni .box{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 25px;
    background-color: none;
}
.part-2 .level .graduated-alumni .box .g-alumni .item .card{
    background-color: #E3E8E8;
}
.part-2 .level .graduated-alumni .box .g-alumni .item .card .card-body{
    display: flex;
}
.part-2 .level .graduated-alumni .box .g-alumni .card-body .name-designation{
    padding-top: 8px;
    padding-left: 15px;
}
.part-2 .level .graduated-alumni .box .g-alumni .owl-nav{
    padding-top: 15px;
}
.part-2 .level .graduated-alumni .box .g-alumni .owl-nav .owl-prev{
    background-color: #163361;
    color: white;
    width: 20px;
}
.part-2 .level .graduated-alumni .box .g-alumni .owl-nav .owl-next{
    background-color: #163361;
    color: white;
    width: 20px;
}

/*Trainer Featured in Start*/
.part-2 .level .trainer-featuredIn .box{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 25px;
    background-color: none;
}
.part-2 .level .trainer-featuredIn .box .card{
    padding: 60px 20px 60px 20px;
    background-color: #E3E8E8;
    border-color: #52E2FC;
    border-width: 3px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.part-2 .level .trainer-featuredIn .box .card .card-body img{
    width: 100%;
}
/*Heading Underline*/
.part-2 .underline .underline1{
    margin: auto;
    width: 30%;
    border-width: 2px;
    border-style: solid;
    border-color: #2B4592;

}
.part-2 .underline .underline2{
    margin: auto;
    margin-top: 2px;
    margin-bottom: 20px;
    width: 25%;
    border-width: 2px;
    border-style: solid;
    border-color: #2B4592;
}
/**********************************
 Part-2 Responsive CSS 
***********************************/
@media only screen and (max-width: 768px) {
    .part-2 .heading h4{
        width: 100%;
        margin: auto;
    }
    .part-2 .underline .underline1{
        margin: auto;
        width: 60%;
        border-width: 1px;
    }
    .part-2 .underline .underline2{
        margin: auto;
        margin-top: 2px;
        margin-bottom: 20px;
        width: 45%;
        border-width: 1px;
    }
    .part-2 .level{
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 10%;
        padding-left: 5%;
    }

    /*Level-1 Start*/
    .part-2 .level .level-1 .box{
        width: 100%;
        margin: auto;
    }
    .part-2 .level .level-1 .box .content{
        text-align: center;
        margin: 0;
    }
    .part-2 .level .level-1 .box .content i{
        font-size: 40px;
        padding: 20px 30px 20px 30px;
    }

    /*Level-2 Start*/
    .part-2 .level .level-2 .box{
        width: 100%;
        margin: auto;
    }

    /*Level-3 Start*/
    .part-2 .level .level-3 .box{
        width: 100%;
        margin: auto;
    }

    /*Level-4 Start*/
    .part-2 .level .level-4 .box{
        width: 100%;
        margin: auto;
    }
    .part-2 .level .level-4 .box .content{
        text-align: center;
        margin: 0;
    }
    .part-2 .level .level-4 .box .content i{
        font-size: 40px;
        padding: 20px 30px 20px 30px;
    }

    /*Level-5 Start*/
    .part-2 .level .level-5 .box{
        width: 100%;
        margin: auto;
    }
    .part-2 .level .level-5 .box .content{
        text-align: center;
        margin: 0;
    }
    .part-2 .level .level-5 .box .content i{
        font-size: 40px;
        padding: 20px 30px 20px 30px;
    }

    /*Level-6 Start*/
    .part-2 .level .level-6 .box{
        width: 100%;
        margin: auto;
    }
    .part-2 .level .level-6 .box img{
        height: 200px;
        width: 150px;
    }

    /*Level-7 Start*/
    .part-2 .level .level-7 .box{
        width: 100%;
        margin: auto;
    }

    /*Level-8 Start*/
    .part-2 .level .level-8 .box{
        width: 100%;
        margin: auto;
    }
    .part-2 .level .level-8 button{
        width: 50%;
    }

    /*Level-9 Start*/
    .part-2 .level .level-9 .box{
        width: 100%;
        margin: auto;
    }
    .part-2 .level .level-9 img{
        margin-bottom: 15px;
    }

    /*Graduated Alumni Start*/
    .part-2 .level .graduated-alumni .box{
        width: 100%;
        margin: auto;;
    }

    /*Trainer Featured in Start*/
    .part-2 .level .trainer-featuredIn .box{
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 440px) {
    .part-2 .heading h4{
       width: 100%;
       margin: auto;
   }
   .part-2 .underline .underline1{
    margin: auto;
    width: 60%;
    border-width: 1px;
}
.part-2 .underline .underline2{
    margin: auto;
    margin-top: 2px;
    margin-bottom: 20px;
    width: 45%;
    border-width: 1px;
}
.part-2 .level{
    padding-top: 10%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
}

/*Level-2 Start*/
.part-2 .level .level-2 .box{
    width: 100%;
    margin: auto;
}
.part-2 .level .level-2 .box .card-body i{
    font-size: 40px;
}

/*Level-3 Start*/
.part-2 .level .level-3 .box{
    width: 100%;
    margin: auto;
}

/*Level-4 Start*/
.part-2 .level .level-4 .box{
    width: 100%;
    margin: auto;
}
.part-2 .level .level-4 .box .content{
    text-align: center;
    margin: 0;
}
.part-2 .level .level-4 .box .content i{
    font-size: 40px;
    padding: 20px 30px 20px 30px;
}

/*Level-5 Start*/
.part-2 .level .level-5 .box{
    width: 100%;
    margin: auto;
}
.part-2 .level .level-5 .box .content{
    text-align: center;
    margin: 0;
}
.part-2 .level .level-5 .box .content i{
    font-size: 40px;
    padding: 20px 30px 20px 30px;
}

/*Level-6 Start*/
.part-2 .level .level-6 .box{
    width: 100%;
    margin: auto;
}
.part-2 .level .level-6 .box img{
    height: 200px;
    width: 150px;
}

/*Level-8 Start*/
.part-2 .level .level-8 .box{
    width: 100%;
    margin: auto;
}
.part-2 .level .level-8 button{
    width: 50%;
}

/*Level-9 Start*/
.part-2 .level .level-9 .box{
    width: 100%;
    margin: auto;
}
.part-2 .level .level-9 img{
    margin-bottom: 15px;
}

/*Graduated Alumni Start*/
.part-2 .level .graduated-alumni .box{
    width: 100%;
    margin: auto;;
}
}
/*----- 
Part-2 End 
---------------------------*/


/*----- 
Part-3 Start 
---------------------------*/
.part-3{
    width: 100%;
    padding: 50px;
    background-color: #52E2FC;
    margin-bottom: 50px;
}
.part-3 .regi-button{
    width: 100%;
    text-align: center;
}
.part-3 .regi-button button{
    width: 30%;
    margin: auto;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #2471AD;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.part-3 .regi-button button:hover{
    text-decoration: underline;
}
/**********************************
 Part-3 Responsive CSS 
***********************************/
@media only screen and (max-width: 768px) {
  .part-3 .regi-button button{
    width: 60%;
}  
}
@media only screen and (max-width: 440px) {
  .part-3 .regi-button button{
    width: 60%;
}  
}
/*----- 
Part-3 End 
---------------------------*/


/*==================================
  Content End
  ==================================*/




  /* ball */

  /* .ball{
    background-color: #02d8ff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  
  } */
  


.center {
    margin: auto;
    padding: 10px;
    }


.col-md-3 > img {
    background-color: #02d8ff;
    border-radius: 50%;
}

.ellipse-1-holder > img {
    background-color: #02d8ff;
    border-radius: 50%;
}

h3{
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    font-size: 3rem;
    color: #1497cf;
}

.light_p {
    color: #6fe9ff;
    font-size: 1.75rem;
}

.box{
    border-radius: 5% !important;
}

.text-box {
    padding: 70px !important;
}

.position-relative {
    position: relative !important;
  }

  .left {
    left: 35px !important;
  }

  .right {
    left: 35px !important;
  }


  .gradients {
    width: 350px;
    height: 8vh;
    padding: 5px 10px;
    background-image: linear-gradient(to right, #f00, #f0f);
    color: #fff;
    border: 0;
    border-radius: 10px;
    outline: 0;
    animation: drift 1s linear infinite;
    font-size: 3rem;
  }
  .gradients:active {
    animation: none;
  }
@keyframes drift {
  12.5% { background-image: linear-gradient(to right, #f0f, #00f); }
  25% { background-image: linear-gradient(to right, #00f, #0ff); }
  37.5% { background-image: linear-gradient(to right, #0ff, #0f9); }
  50% { background-image: linear-gradient(to right, #0f9, #0a0); }
  62.5% { background-image: linear-gradient(to right, #0a0, #ff0); }
  75% { background-image: linear-gradient(to right, #ff0, #fa0); }
  87.5% { background-image: linear-gradient(to right, #fa0, #f00); }
  100% { background-image: linear-gradient(to right, #f00, #f0f);}
}


@-webkit-keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  @keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  
  .btn {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: #11bd2ea2;
    color: #ffffff;
    border: 2px solid #11bd2e;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all 0.5s ease;
    display: inline-block;
    font-size: 150%;
  }
  .btn:-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .btn--stripe {
    overflow: hidden;
    position: relative;
  }
  .btn--stripe:after {
    content: "";
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #0fb22f, #0fb22f 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #0fb22f;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
  }
  .btn--stripe:hover {
    background-color: #0fb22f;
    color: #ffffff;
    border-color: #012e0a;
  }
  .btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #11bd2ea2, #f11bd2ea 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    -webkit-animation: stripe-slide 12s infinite linear forwards;
            animation: stripe-slide 12s infinite linear forwards;
  }
  .btn--large {
    width: 50%;
  }
  .btn--radius {
    border-radius: 36px;
  }